body{
    margin: 0 0.5em;
}

table#tabularbarchart{
	user-select: none;
	overflow: auto;
	border-collapse: collapse;
}

td{
	padding: 0 0.5em;
}

td.label{
	white-space: nowrap; 
	text-align: right;
}

td.value{
	white-space: nowrap; 
	text-align: right;
}

td.bar{
	width: 100%;
	min-width: 50px;
}

svg.barsvg{
	width: 100%;
	height: 1.6em;
	display: block;
}

svg.headersvg{
	width: 100%;
	height: 0.4em;
	display: block;
}
